.logo {
	background-color: #367FA9;
	color: #F6F6F6;
}

.navbar {
	background-color: #3C8DBC;
}

.sidebar {
	background-color: #333;
}

.sidebar a {
	color: #F6F6F6;
}

.nav > li > a:focus {
	color: #F6F6F6;
}

.sidebar-form {
	background-color: #475C66; 
}

.main-sidebar {
	padding-top: 4%;
	height:auto;
	min-height:100%;
	background-color: #333;
}

.dashboard {
	margin-top: 0px;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
}

.item-title {
	margin-bottom: 2% !important;
}

.dashboard-title {
	margin-top: 3% !important;
	margin-bottom: 1% !important;
	margin-left: 3%;
}

.reports-title {
	margin-top: 3% !important;
	margin-left: 2%;
}

.reports-panel {
	margin-top: 1% !important;
}

.btn-add {
	margin-top: 2%;	
}

.fa-plus {
	margin-right: 1%;
}

.panel {
	margin-top: 3%;
}

li.dropdown {
	z-index: 999999;
}

.main-header .logo {
    font-size: 15px !important;
}

.administrators {
	margin-top: 2% !important;
}

.table {
	border: 0.5px solid #DDD;
	margin-top: 2%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.5px solid #DDD;
}

.reports-box {
	background-color: #FFF;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 2%;
}

.reports-fields.select {
	margin-right: 2%;
}

.panel-heading {
	background-color: #3C8DBC !important;
	color: #FFF !important;
}

.panel {
	margin-left: 1%;
	font-size: 14px !important;
	font-weight: 600;
}