.logo {
	background-color: #367FA9;
	color: #F6F6F6;
}

.navbar {
	background-color: #3C8DBC;
}

.sidebar {
	background-color: #333;
}

.sidebar a {
	color: #F6F6F6;
}

.nav > li > a:focus {
	color: #F6F6F6;
}

.sidebar-form {
	background-color: #475C66; 
}

.main-sidebar {
	padding-top: 4%;
	height:auto;
	min-height:100%;
	background-color: #333;
}

.btn-add {
	margin-top: 2%;	
}

.fa-plus {
	margin-right: 1%;
}

.panel {
	margin-top: 3%;
}

li.dropdown {
	z-index: 999999;
}

.main-header .logo {
    font-size: 15px !important;
}

.administrators {
	margin-top: 2% !important;
}

.table {
	border: 0.5px solid #DDD;
	margin-top: 2%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.5px solid #DDD;
}

.enterprise-profile {
	text-align: left !important;
}

.reports-box {
	background-color: #FFF;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 2%;
}

.reports-fields.select {
	margin-right: 2%;
}

.panel-heading {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 15px;
    background-color: #3C8DBC !important;
	color: #FFF !important;		
}

.panel {
	margin-left: 1%;
	font-size: 14px !important;
	font-weight: 600;
}

.premium-access {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 35px;
    background-color: #3C8DBC !important;
	color: #FFF !important;
	text-align: center;
	height: 80px !important;	
	text-transform: uppercase;
}

.button-premium {
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 21px;
    letter-spacing: 1px;
    color: #FFF !important;
    margin-left: 40%;
    margin-top: 4%;
    margin-bottom: 10%;
}

.plan-data-box {
	border: 1px solid #DDD;
	border-radius: 5px;
	height: 760px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0 !important;
}

.plan-data-box-header {
	background-color: #3C8DBC;
	height: 80px;	
}

.plan-data-box-body {
	background-color: #FFF;
	height: 660px;	
}

h1.plan-name {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 700 !important;
    line-height: 1.2em;
    font-size: 25px;
    color: #FFF !important;
	text-align: center;	
}

h1.features {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 500 !important;
    line-height: 1.2em;
    font-size: 16px;
    color: #888 !important;
	text-align: center;	
}

hr.dotted {
	border-top: 1px dotted #8c8b8b;
}

h1.price {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 22px;
    color: #3C8DBC !important;
	text-align: center;	
}

h2.price {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 14px;
    color: #888 !important;
	text-align: center;	
}

h1.price-free {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 22px;
    color: #3C8DBC !important;
	text-align: center;	
	margin-top: 195%;	
}