.logo {
	background-color: #367FA9;
	color: #F6F6F6;
}

.navbar {
	background-color: #3C8DBC;
}

.sidebar {
	background-color: #333;
}

.sidebar a {
	color: #F6F6F6;
}

.nav > li > a:focus {
	color: #F6F6F6;
}

.sidebar-form {
	background-color: #475C66; 
}

.main-sidebar {
	padding-top: 4%;
	height:auto;
	min-height:100%;
	background-color: #333;
}

.complete-register {
    font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 700 !important;
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #3C8DBC !important;
    text-align: center;
}

.about {
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 900;
    line-height: 1.2em;
    font-size: 30px;
    letter-spacing: -1px;
    text-align:center;
    color: #3C8DBC !important;
}

.logo-modal {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-add {
	margin-top: 2%;	
}

.fa-plus {
	margin-right: 1%;
}

.panel {
	margin-top: 3%;
}

li.dropdown {
	z-index: 999999;
}

.main-header .logo {
    font-size: 15px !important;
}

.administrators {
	margin-top: 2% !important;
}

.table {
	border: 0.5px solid #DDD;
	margin-top: 2%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.5px solid #DDD;
}

.enterprise-profile {
	text-align: left !important;
}

.reports-box {
	background-color: #FFF;
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	margin-right: 2%;
	margin-left: 2%;
	margin-top: 2%;
}

.reports-fields.select {
	margin-right: 2%;
}

.panel-heading {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 15px;
    background-color: #3C8DBC !important;
	color: #FFF !important;		
}

.panel {
	margin-left: 1%;
	font-size: 14px !important;
	font-weight: 600;
}

.premium-title {
	margin-top: 2%;
	margin-left: 2%;
}

.premium-access {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 30px;
    background-color: #3C8DBC !important;
	color: #FFF !important;
	text-align: center;
	height: 80px !important;	
	text-transform: uppercase;
	padding-top: 1.5%;
}

.button-premium {
	width: 300px;
	height: 50px;
	border-radius: 5px;
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 21px;
    letter-spacing: 1px;
    color: #FFF !important;
    margin-left: 40%;
    margin-top: 4%;
    margin-bottom: 10%;
}

.plan-data-box {
	border: 1px solid #DDD;
	border-radius: 5px;
	height: 760px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0 !important;
}

.plan-data-box-header {
	background-color: #3C8DBC;
	height: 80px;	
}

.plan-data-box-body {
	background-color: #FFF;
	height: 660px;	
}

h1.plan-name {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 700 !important;
    line-height: 1.2em;
    font-size: 25px;
    color: #FFF !important;
	text-align: center;	
}

h1.features {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 500 !important;
    line-height: 1.2em;
    font-size: 16px;
    color: #888 !important;
	text-align: center;	
}

hr.dotted {
	border-top: 1px dotted #8c8b8b;
}

h1.price {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 22px;
    color: #3C8DBC !important;
	text-align: center;	
}

h2.price {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 14px;
    color: #888 !important;
	text-align: center;	
}

h1.price-free {
	font-family: Lato, Arial, Tahoma, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2em;
    font-size: 22px;
    color: #3C8DBC !important;
	text-align: center;	
	margin-top: 125%;	
}


@media (max-width: 575px) {
	.info-box-text {
		font-size: 10px;
	}

	.premium-access {
	    font-size: 16px;
	    padding-top: 5%;
	}

	h1.plan-name {
	    font-size: 25px;
	}

	h1.features {
		font-size: 15px;
    }

    h1.price {
	    font-size: 21px;
	}

	h2.price {
	    font-size: 15px;
	}

	h1.price-free {
	    font-size: 21px;
	    margin-top: 85%;
	}

	.button-premium {
		margin-left: 12%;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.info-box-text {
		font-size: 10px;
	}

	.premium-access {
	    font-size: 16px;
	    padding-top: 5%;
	}

	h1.plan-name {
	    font-size: 22px;
	}

	h1.features {
		font-size: 15px;
    }

    h1.price {
	    font-size: 21px;
	}

	h2.price {
	    font-size: 15px;
	}

	h1.price-free {
	    font-size: 21px;
	    margin-top: 65%;
	}

	.button-premium {
		margin-left: 28%;
	}
}

@media (min-width: 768px) and (max-width: 879px) {
	.info-box-text {
		font-size: 10px;
	}

	.premium-access {
	    font-size: 15px;
	    padding-top: 5%;
	}

	h1.plan-name {
	    font-size: 21px;
	}

	h1.features {
		font-size: 13px;
    }

    h1.price {
	    font-size: 18px;
	}

	h2.price {
	    font-size: 12px;
	}

	h1.price-free {
	    font-size: 18px;
	    margin-top: 95%;
	}

	.button-premium {
		margin-left: 25%;
	}
}

@media (min-width: 880px) and (max-width: 1079px) {
	.info-box-text {
		font-size: 13px;
	}

	.premium-access {
	    font-size: 18px;
	    padding-top: 3.5%;
	}

	h1.plan-name {
	    font-size: 21px;
	}

	h1.features {
		font-size: 13px;
    }

    h1.price {
	    font-size: 19px;
	}

	h2.price {
	    font-size: 12px;
	}

	h1.price-free {
	    font-size: 19px;
	    margin-top: 95%;
	}

	.plan-data-box {
		height: 800px;
	}

	.button-premium {
		margin-left: 32%;
	}
}

@media (min-width: 1080px) and (max-width: 1279px) {
	.premium-access {
	    font-size: 23px;
	    padding-top: 2.5%;
	}

	h1.plan-name {
	    font-size: 21px;
	}

	h1.features {
		font-size: 13px;
    }

    h1.price {
	    font-size: 21px;
	}

	h2.price {
	    font-size: 13px;
	}

	h1.price-free {
	    font-size: 21px;
	    margin-top: 195%;
	}

	.button-premium {
		margin-left: 38%;
	}
}

@media (min-width: 1280px) and (max-width: 1449px) {
	.premium-access {
	    font-size: 25px;
	    padding-top: 2%;
	}

	h1.plan-name {
	    font-size: 22px;
	}

	h1.features {
		font-size: 14px;
    }

    h1.price {
	    font-size: 21px;
	}

	h2.price {
	    font-size: 13px;
	}

	h1.price-free {
	    font-size: 21px;
	    margin-top: 195%;
	}
}

@media (min-width: 1450px) and (max-width: 1649px) {
	.premium-access {
	    font-size: 26px;
	}

	h1.plan-name {
	    font-size: 23px;
	}

	h1.features {
		font-size: 15px;
    }

    h1.price {
	    font-size: 22px;
	}

	h2.price {
	    font-size: 14px;
	}

	h1.price-free {
	    font-size: 22px;
	    margin-top: 165%;
	}
}